@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    background-color: #212529; /* Cor de fundo escura */
    color: white; /* Cor padrão do texto */
}
#btnCadastrar {
    border: none;
    background: #ffb742;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px; 
    transition: background-color 0.3s, box-shadow 0.3s; 
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

#btnCadastrar:hover {
    background: #fb8c00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#produtoDescricao {
    color: white;
    background-color: #495057; /* Cor de fundo para o campo de descrição */
    border: 1px solid #6c757d; /* Borda sutil */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px; /* Adiciona espaçamento interno */
}

textarea,
input[type="number"],
input[type="file"] {
    width: 100%; /* Garante que todos os campos ocupem toda a largura */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #6c757d; /* Borda sutil */
}

textarea:focus,
input[type="number"]:focus,
input[type="file"]:focus {
    outline: none; /* Remove a borda padrão ao focar */
    border-color: #ffb742; /* Borda em destaque ao focar */
}
