@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: 'Poppins', sans-serif;
}

#btnCadastrar {
    border: none;
    background: #ffb742;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px; 
    transition: background-color 0.3s, box-shadow 0.3s; 
}


#btnCadastrar:hover {
    background: #fb8c00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
